.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
}

.search__input {
  background: black;
  color: white;
  padding: 8px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500px;
}

.search__input {
  border: 1px solid black;
  padding: 8px;
  margin-left: 8px;
  flex: 1;
}