.product-filters {
  align-items: start;
  align-self: start;
  margin-top: 50px;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-checkBox {
  margin-bottom: 10px;
}
.sub-title { 
  margin-bottom: 10px;
}

.color-input {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
