.body {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
}

.products-container {
  padding: 120px 100px 50px;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}

