.cart {
  width: 100%;
  max-width: 300px;
  background-color: black;
  height: 40vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 150px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition: all 400ms ease;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
}

.cart-resume {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0 15px;
  border-top: 1px solid #ddd;
  color: white;
  display: flex;
  flex-direction: row;
}

.cart-items .cart-item:last-child {
  border-bottom: none;
}

.cart--active {
  transform: translate(0, 0);
}

.cart-button-checkout {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease;
}

.cart-button-checkout:hover {
  background-color: #f0f0f0;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}