*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.button-header {
    background-color: black;
    color: white;
    border: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
}

.button-header:hover {
  background-color: #333; 
}

.color-default {
  color: rgba(128, 128, 128, 0.6);
}